/* --- STYLES FOR ALL PAGES --- */

body {
    /* Typography */
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: black;
}

.logo {
    padding-right: 0px;
    width: auto;
}

.navbar.navbar-nav {
    background: lightgray;
    font-size: larger;
}

.active {
    font-weight: bold;
}

.slide {
    width: 100%;
    opacity: 0.80;
    filter: alpha(opacity=80);
    /* For IE8 and earlier */
}

.carousel-caption {
    color: black;
}

.article-picture {
    width: 100%;
}

.center {
    text-align: center;
}

.container-marketing {
    padding: 20px;
}

h3 {
    text-align: center;
}

/* mailing panel header */


.panel-custom {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-bottom: 25px;
}

.form-group,
.btn {
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

.panel-body {
    border-top: 20px;
}

/* donations page */

.donate-button {
    text-align: center;
    padding-left: 5px;
    padding-inline-start: 5px;
}

.container {
    text-align: center;
}

/*amazon smile*/
.amznCharityBanner {
    position: relative;
    text-align: center;
    font-weight: bolder;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*programs page*/

.bottom {
    text-align: center;
}