/* --- STYLES FOR ALL PAGES --- */

body {
    /* Typography */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: black;
}

.logo {
    padding-right: 0px;
    width: auto;
}

.navbar.navbar-nav {
    background: lightgray;
    font-size: larger;
}

.active {
    font-weight: bold;
}

.slide {
    width: 100%;
    opacity: 0.80;
    filter: alpha(opacity=80);
    /* For IE8 and earlier */
}

.carousel-caption {
    color: black;
}

.article-picture {
    width: 100%;
}

.center {
    text-align: center;
}

.container-marketing {
    text-align: justify;
    padding: 20px;
}


#banner {}


/* mailing panel header */
.panel-custom {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-bottom: 25px;
}

/* start mailingList page */
.panel-custom {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-bottom: 25px;
}

.form-group .btn {
    font-family: 'Raleway', sans-serif;
}

.panel-body {
    border-top: 20px;
}

/* end mailingList page */

/* donations page */

.row-donations {
    text-align: center;
}

.amznCharityBanner {
    position: relative;
    text-align: center;
    font-weight: bolder;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}