/* --- STYLES FOR ALL PAGES --- */

body {
    /* Typography */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.logo {
    padding-right: 50px;
    width: 150px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: white;
    color: pink;
    font-display: bold;
}

.navbar {
    background: pink;
}

.btn {
    border: none;     
}

.btn a:hover a:focus{
    background-color: white;
}

.article-picture {
    width: 100%;
}

.container-marketing {
    text-align: justify;
    padding: 20px;
}

.first-slide {
    width: 100%;
}

/* mailing panel header */
.panel-custom  {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-bottom: 25px;   
}
.form-group, .btn {
    font-family: 'Raleway', sans-serif;
}

.panel-body {
    border-top: 20px;
}
